# Sensitive local config
src/config/mail.php
src/config/cloudinary.php
src/config/db-config.php
src/DEPLOY_CHECKLIST.md
src/database/migrations
src/test
src/test.py
src/test2.py
src/logoweb31032026.png